---
layout: default
permalink: /blog/
---

{% for post in site.posts %}
<article class="post">
    <header class="post-header">
        <h1 class="post-title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
    </header>
    <section class="post-excerpt">
        <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
        {% if post.categories.size > 0 %}
            {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
        {% endif %}
        <p>{{post.excerpt words="26"}}</p>
        <!-- <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p> -->
        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Continue lendo</a>
    </section>
    <footer class="post-meta"></footer>
</article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
