<nav class="social">
    <ul>
        <li><a href="{{ site.author.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="icon-twitter fa-2x"></i>&nbsp;&nbsp;</a></li>
        <li><a href="{{ site.author.google_plus }}" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="icon-google-plus fa-2x"></i>&nbsp;&nbsp;</a></li>
        <li><a href="{{ site.author.github }}" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="icon-github fa-2x"></i>&nbsp;&nbsp;</a></li>
        <li><a href="{{ site.author.medium }}" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="icon-medium fa-2x"></i>&nbsp;&nbsp;</a></li>
        <li><a href="mailto:{{ site.author.email }}" data-toggle="tooltip" data-placement="bottom" title="E-mail"><i class="icon-envelope fa-2x"></i>&nbsp;&nbsp;</a></li>
        <li><a href="/feed.xml" data-toggle="tooltip" data-placement="bottom" title="Feed"><i class="fa fa-rss fa-2x"></i>&nbsp;&nbsp;</a></li>
    </ul>
</nav>
