<nav class="social animated fadeInUp">
  <ul>
    <li><a href="https://twitter.com/diovanemonteiro" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="https://plus.google.com/u/0/+DiovaneMonteiro" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="https://github.com/diovanemonteiro" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="https://medium.com/@diovanemonteiro" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="mailto:diovanemonteiro@gmail.com" data-toggle="tooltip" data-placement="bottom" title="E-mail"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Feed"><i class="fa fa-rss fa-2x"></i>&nbsp;&nbsp;</a></li>
  </ul>
</nav>
