<nav class="social animated fadeInUp">
  <ul>
    <li><a href="{{ site.author.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="{{ site.author.google_plus }}" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="{{ site.author.github }}" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="{{ site.author.medium }}" data-toggle="tooltip" data-placement="bottom" title="Medium"><i class="fa fa-medium fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="mailto:{{ site.author.email }}" data-toggle="tooltip" data-placement="bottom" title="E-mail"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;</a></li>
    <li><a href="/feed.xml" data-toggle="tooltip" data-placement="bottom" title="Feed"><i class="fa fa-rss fa-2x"></i>&nbsp;&nbsp;</a></li>
  </ul>
</nav>
