<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <header>Cabeçalho da página</header>

  <nav>Links de navegação</nav>

  <main>

    <h1>Conteúdo da página</h1>

    <section>
      <article>
        <h3>Artigo, post ou tutorial</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>

      <article></article>

      <article></article>

      <article></article>

    </section>

    <aside>Barra lateral da página</aside>

  </main>

  <footer>Rodapé da página</footer>

</body>

</html>
